<!DOCTYPE html>
<html lang="en">
   {{template "_head.html"}}
   <body id="page-top" class="index">
      <header>
         {{template "_navigation.html"}}
      </header>
      <div class="container">
         <h2> Create, Delete or Modify linux user </h2>
         <br><br>
         <form id="chatbox">
            <table class="table table-striped table-hover ">
               <tbody>
                  <tr>
                     <td>Username</td>
                     <td><input type="text" id="username"></td>
                  </tr>
                  <tr>
                     <td>Shell-type </td>
                     <td><input type="text" id="shell-type"></td>
                  </tr>
                  <tr>
                     <td>Home-Folder </td>
                     <td><input type="text" id="home-folder"></td>
                  </tr>
                  <tr>
                     <td>Password </td>
                     <td><input type="password" id="password"></td>
                  </tr>
                  <tr>
                     <td>Sudo user? </td>
                     <td>
                        <input type="radio" id="issudouser" "name="issudouser" value="Yes">Yes&nbsp;&nbsp;
                        <input type="radio" id="issudouser" name="issudouser" value="No">No&nbsp;&nbsp;
                     </td>
                  </tr>
                  <tr>
                     <td>Operation </td>
                     <td>
                        <input type="radio" id="operation" name="operation" value="Create">Create&nbsp;&nbsp;
                        <input type="radio" id="operation name="operation" value="Delete">Delete&nbsp;&nbsp;
                        <input type="radio" id="operation" name="operation" value="Modify">Modify&nbsp;&nbsp;
                     </td>
                  </tr>
               </tbody>
            </table><br>
			<div style="text-align: center;">
               <input type="submit" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <br><br>
            </div> 	
         </form>
         
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
      		$(function(){
      			var socket = null;
        		$("#chatbox").submit(function(){
        			
        			var username = $("#username").val();
					var shelltype = $("#shell-type").val(); 
            		var homefolder = $("#home-folder").val();
            		var pass = $("#password").val();
            		var sudoopt = $('#issudouser').val();
            		var operation = $('#operation').val();
					var msgToSend = username + "##" + shelltype + "##" + homefolder + "##" + pass + "##" + sudoopt + "##" + operation;
        			
            		//msgToSend="hello alok how are you";
            		
		         	if (!msgToSend) return false;
		          	if (!socket) {
		            	alert("Error: There is no socket connection.");
		            	return false;
		          	}
		          	socket.send(msgToSend);
		          	return false;
		        });
        		
        			
	        		if (!window["WebSocket"]) {
	          			alert("Error: Your browser does not support web sockets.")
	        		} else {
	        		
	          			socket = new WebSocket("ws://localhost:8005/ws");
	          			
	          			socket.onmessage = function(e) {
	            			alert(e.data);
	          			}
	          			
	          			socket.onclose = function(event) {
	          				alert("Socket connection closed");
	          			}
	          			
	          			socket.onerror = function(event) {
	          				alert("Socket error");
	          			}
	          			
	          			socket.onopen = function(event) {
	          				alert("Socket open");
	          			}

        			}
	      		});
    	</script>
         </div>
         <br><br>
      {{template "_footer.html"}}
   </body>
</html>
